<div class="container mx-auto text-center">
    <div class="container">
        <h1 class="display-4"><%= @user.username %></h1>
        <p class="display-6">Display saved/favorited restaurants</p>
        <p class="display-6"></p>
        <div class="btn-group">
            <button>Settings</button>
            <button>Log Out</button>
        </div>
    </div> 
</div>