<div class="container mx-auto text-center">
    <div class="container">
        <h1 class="display-4"><%= @user.username %></h1>
        <div class="btn-group">
            <%= link_to "Settings", edit_user_registration_path(current_user), class: "btn btn-secondary" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
        </div>
        <p class="display-6">Display saved/favorited restaurants</p>
    </div> 
</div>