<div class="container">
    <h1>Edit Restaurant</h1>
    <%= link_to "Back", restaurants_path, class: "btn btn-secondary" %>
    <%= render 'form' %>
    <%= link_to "Delete", restaurant_path(@restaurant), method: :delete %>
</div>