<div class="container">
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
        </div>
        <div class="col-lg-4">
          <h1>Cuisine Pursuit</h1>
          <p>Find the best restaurants near you!</p>
          <p>This image space could make a good spot for a carousel! Or have it set an image based on user location!</p>
          <a class="btn btn-primary btn-lg" href="#">About Us?</a>
        </div>
      </div>
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
        </div>
      </div>
      <div class="row">
        <% @restaurants.each do |restaurant| %>
            <%= render 'restaurant_card', restaurant: restaurant %>
        <% end %>
      </div>
    </div>

</div>
