<div class="container">
    <div class="row">
        <% if @city.restaurants.empty?  %>
            <h3 class="text-center">There are no restaurants saved to this city yet! </h3>
        <% else %>
            <% @restaurants.each do |restaurant| %>
                <div class="col-md-4 py-2">
                    <%= render 'cities/restaurant_card', restaurant: restaurant, city: @city %>
                    </div>
            <% end %>
        <% end %>
    </div>
</div>