<div class="container">
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
        </div>
        <div class="col-lg-4">
          <h1>Cuisine Pursuit</h1>
          <p>This image space could make a good spot for a carousel</p>
          <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
        </div>
      </div>
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Make into a template</h2>
              <p class="card-text">Have these be personalized by location</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
