<div class="container-fluid">
  <div class="card text-center">
    <div class="card-body">
      <h2><%= params[:search] %> - <%= params[:location] %></h2>
    </div>
  </div>
  <div class="row my-3">
    <% @restaurants.each do |restaurant| %>
      <%= render 'restaurant_card', restaurant: restaurant %>
    <% end %>
  </div>
</div>