<div class="card restaurant-card">
    <%= image_tag restaurant.image.url(:medium), class: "card-img-top" %>
    <div class="card-body">
        <h5 class="card-title"><%= link_to restaurant.name, city_restaurant_path(city, restaurant) %></h5>
        <p class="card-text"><%= restaurant.street_number %> <%= restaurant.street %></p>
        <p class="card-text"><small class="text-muted">Categories</small></p>
    </div>
</div>